@charset "UTF-8";
body {
	text-align:center;
	align-content: center;
}

table{
	margin: auto;
	table-layout: fixed;
	width:100%;
	text-align: right;
	
}
tr td:first-child{
	text-align: left;
	font-weight: bold;
}

/* 버튼 효과 */
.btn {
    border: none;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    width:200px;
}
.log {background-color: #ff9800;}
.log:hover {background: #e68a00;}


/* vote, favorite display  */
.MyVote{
	margin:auto;
	width:450px;
	display:table;
	
}
.MyFavorite{
	margin:auto;
	width:450px;
	display:none;

}
#del {
    width:160px;
    margin-top:10px;
}

/* 항목 버튼  */
.list_check{
	width:200px;
	font-size:20px;
	background: none;
	cursor:pointer;
	border:0;
	outline:0;
	text-align: left;
	font-weight: bold;
}